<!-- begin div.page -->
<div id="page">

	<h1>什么是飞豆?</h1>
	<hr />
	<p>飞豆是一个免费的在线任务及待办事宜管理站点，使用飞豆,您可以以在线的方式管理您的各项任务及待办事宜，而不用担心数据同步的问题。，只需简单的3个步骤即可开始使用飞豆:</p>
	<h1>开始使用飞豆</h1>
	<hr />
	<p>飞豆目前共有<strong><%= User.count %></strong>用户，他们创建了<strong><%= Tasklist.count %></strong>个任务列表，以及<strong><%= Taskitem.count %></strong>个任务，并完成了其中的<%= Taskitem.completed.count %>个，要开始使用飞豆，您需要：</p>
	<ol>
		<li>注册一个飞豆帐户，要使用飞豆，您首先需要注册一个飞豆帐户，如果您还没有注册，请点击这里，免费注册新帐户： <a href="/signup" class="button">免费注册</a></li>
		<li>完成注册之后，您需要使用您的帐户登录飞豆，如果您已经有了一个帐户，那么请点击这里登录：<a href="/login" class="button">登录</a></li>
		<li>登录之后您就可以开始创建您的任务列表，并像列表中添加任务和待办事宜了，就是这么简单！</li>
	</ol>
</div>
<!-- end div.page -->