<div id="page">
   <h1>飞豆源代码</h1>
   <hr />
   <p>飞豆是基于<a href="http://www.mattmccray.com/">M@ McCray</a>编写的<a href="http://taskthis.elucidata-apps.com">TaskTHIS</a>改编而来，TaskTHIS是一款基于<a href="http://www.rubyonrails.org">Ruby on Rails</a>的开源在线任务管理系统，您可以点击<a href="http://taskthis.elucidata-apps.com/source.html">这里下载TaskTHIS的源码</a>, 如果您需要获取飞豆的源代码，请访问<a href="http://github.com/yzhang/taskthis_cn/tree">http://github.com/yzhang/taskthis_cn/tree</a></p>
</div>