<% completed = tasklists.reject {|tl| !tl.complete?} %>
<% uncompleted = tasklists - completed %>

<table class="Tasklist" width="100%" cellspacing="0" cellpadding="3" border="0">
    <tr>
       <th align="left">待完成</th>
       <th style="text-align:center; width: 20px;" title="Percent Complete">&nbsp;</th>
       <th align="left">&nbsp;</th>
    </tr>
       
	<% uncompleted.each_with_index do |tl, i| %>
        <tr class="<%= (i % 2 == 0) ? "Even-Row" : "Odd-Row"%>">
	    <%= render :partial => '/shared/tasklist', :object => tl, :locals => {:is_public => is_public} %>
       </tr>      
	<% end %>
</table>

<table class="Tasklist" width="100%" cellspacing="0" cellpadding="3" border="0">
    <tr>
       <th align="left">已完成</th>
       <th style="text-align:center; width: 20px;" title="Percent Complete">&nbsp;</th>
       <th align="left">&nbsp;</th>
    </tr>
       
	<% completed.each_with_index do |tl, i| %>
        <tr class="<%= (i % 2 == 0) ? "Even-Row" : "Odd-Row"%> completed">
	    <%= render :partial => '/shared/tasklist', :object => tl, :locals => {:is_public => is_public} %>
       </tr>      
	<% end %>
</table>