<%= @name %>,

Your TaskTHIS password has been reset. If this action was not at your request, then you should be aware that someone has entered your email address as theirs in the forgotten password section of TaskTHIS.

Your new login credentials are:

  login:    <%= @login %>
  password: <%= @password %>
 
It's advisable for you to change your password as soon as you login. It's as simple as navigating to 'Preferences' and clicking on 'Change Password'.

<%= @url %>